SECRET_KEY=cambia-questa-stringa-con-una-sicura
APP_NAME=PrimeTravel

# Gmail SMTP (App Password - NON la password account)
MAIL_USERNAME=dsconsulting.italy@gmail.com
MAIL_PASSWORD=rzrc cukq ppyk yliy
MAIL_SENDER_NAME=PrimeTravel

# Amadeus API
AMADEUS_API_KEY=26socohUWZiGgru0QiYGekGhRKWOOV1r
AMADEUS_API_SECRET=YQKzZ6uRN4mhHUGT
AMADEUS_ENV=test

# GetYourGuide API (Partner API)
GETYOURGUIDE_API_KEY=your_getyourguide_api_key

# Database (produzione Neon PostgreSQL)
# DATABASE_URL=postgresql://user:pass@ep-xxx.neon.tech/dbname?sslmode=require
